h1 {
  font-family: Arial, Helvetica, sans-serif, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #fcf0de;
  color: aliceblue;
  margin: 0;
}

html {
  cursor: url(./nekonote.png) 55 25, auto;
}

@font-face {
  font-family: "nekoneco";
  src: local("nekoneco"), url("./NekoNeco.ttf") format("truetype");
}

@font-face {
  font-family: "zen";
  src: local("zen"), url("./ZenMaruGothic-Bold.ttf") format("truetype");
}
